@use "partials/variables" as *;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";



main {
    // per attingere alla variabile bisogna richiamarla,
    // con as *, è come se la richiamassimo sepre 

    color: $main-color
}

.wrap {
    margin-top: 116px;
    min-height: calc(100vh - 172px); //calcolo del margin top e del footer
}

body {
    background-color: #6d661f2e;
}

.main-gradient {
    background: -webkit-linear-gradient(325deg, #ec8232, #d03448);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glass-form {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
}